body{
    color: black;
    text-decoration: none;
    font-family: Montserrat;
}

.login__input{
    color: blue;
}

.register__input{
    color: blueviolet;
}

.container {
    display: flex;
  }

.container__content{
    flex-direction: column;
}

.login{
    display: flex;
}

.login__input{
    flex-direction: column;
}