body{
    color: black;
    text-decoration: none;
    font-family: Montserrat;
}

h1{
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

.header{
    display: flex;
    flex-direction: column;
}

.header__top-menu{
    display: flex;
    justify-content: center;
    text-align: left;
    overflow: hidden;
}

.header__top-menu--list{
    display: flex;
    flex-direction: row;
    border: 1px solid #d5d5d5;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0px;
}

.header__top-menu--list li{
    padding: 10px;
}

.login{
    display: flex;
    flex-direction: column;
}

.login__input{
    color: blue;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 70%;
}

.login__button{
    border-radius: 8px;
    margin-top: 10px;
    width: 20%;
    padding: 10px;
    align-self: center;
}

.register{
    display: flex;
    flex-direction: column;
}

.register__input{
    color: blueviolet;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 70%;
}

.register__input--country{
    color: blueviolet;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 70%;
    border: none;
}

.register__input--birthdate{
    color: hotpink;
    justify-content: center;
    align-items: center;
}

.register__input:valid{
    border: solid green 1px;
}

.register__button{
    border-radius: 8px;
    margin-top: 10px;
    align-self: center;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.footer{
    display: flex;
    align-self: center;
    justify-content: center;
}